%strong "videos index"
  

%br
%br
.videos.row
  -@categories.each do |category|
    %strong "Category-"
    %br
    %br
    %br
    =category.category_name
    %br
    %br
    %br
    -category.recent_videos.each do |video|
      -if video.cover_image_url.present?
        =link_to image_tag(video.cover_image_url.sub('public','')), video_path(video)
      -else
        =link_to image_tag(""), video_path(video)  
        
       